@media only screen and (min-width: 768px) and (max-width: 991px){
  /* general */
  * {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 12px;
    text-align: justify;
  }
  h1{
    font-size: 18px;
  }
  .bg-grey {
    background: #f7f7f7;
  }
  section > .container {
    /* width: 1170px; */
    margin: auto;
    display: block;
    padding: 30px 50px;
  }
  /* banner */
  #banner {
    width: 100%;
    box-sizing: border-box;
    padding: 0px !important; /* giúp  hình ảnh banner có width 100% vì  trong đề padding : 50px*/
  }
  #imges-banner {
    display: block;
  }
  /*  cho tên và công việc đưa vào giữa banner bằng định vị tương đối */
  #banner .name {
    color: #fff;
    position: absolute;
    top: 23%;
    width: 100%;
    text-align: center;
  }
  #banner .job {
    color: #fff;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
  }
  /* nav-bar */
  #nav-bar {
    text-align: center;
  }
  #nav-bar .container {
    display: flex;
    width: 60%;
    padding: 0;
    margin-left: 20%;
  }
  #nav-bar .container a {
    width: 20%;
    height: 50px;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-top-color: #cccccc;
    border-top-style: solid;
    border-top-width: 2px;
    border-left-color: #cccccc;
    border-left-style: solid;
    border-left-width: 2px;
    font-variant: small-caps; /* chữ in hoa*/
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center; /* các phần tử vào giữa theo chiều dọc (nếu là flex nằm ngang (row)) và ngược lại theo chiều ngang (nếu là flex nằm dọc (column)) */
    justify-content: center; /* ngược lại với align-items canh theo chiều ngang (nếu flex là row) và theo chiều dọc (nếu flex là column) */
  }
  #nav-bar .container i {
    color: #199cdb;
  }
  #avatar {
    z-index: 1;
  }
  #avatar img {
    display: none;
    border-radius: 100%;
    /* cong góc tạo hình tròn */
    border: white 10px solid;
  }
  /* thông tin cá nhân */
  #about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Chia đôi thành 2 cột */
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #target {
    padding-left: 40px;
    background-color: #f7f7f7;
    padding-bottom: 30px;
  }
  #target #section-title {
    font-variant: small-caps; /* chữ in hoa*/
  }
  #target h1 {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  #target p {
    line-height: 30px;
    text-align: justify;
    padding-right: 50px;
  }
  #personal-info {
    background-color: #f2f2f2;
    margin: 0 !important;
    /*  nếu không có important thì sẽ bị lỗi */
  }
  /* form nhập email xác nhận */
  #personal-info .container form input{
    padding: 5px;
    width: 90%;
    margin-bottom: 5px;
  }
  #personal-info .container form .info{
    margin-bottom: 5px;
  }
  #personal-info .container form .error{
    margin-bottom: 5px;
    color: red;
    display: none;
  }
  #personal-info .container form button{
    padding: 10px;
    margin-top: 30px;
    background-color: #199cdb;
    color: white;
    border-radius: 5px;
  }
  #personal-info .info {
    list-style: none;
    /* bỏ dấu chấm trước ds */
  }
  #personal-info h1 {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  #personal-info {
    padding-left: 40px;
    padding-bottom: 40px;
  }
  #personal-info .container{
    display: block;
  }
  #personal-info ul {
    line-height: 30px;
  }
  #personal-info #icon {
    margin-top: 30px;
    color: #199cdb;
  }
  /* job info */
  #job-info {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  #job-info .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px; /* khoảng cách giữa các cột là 15px */
    width: 100%;
  }
  #job-info .container .grid-item {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    display: grid;
    grid-template-columns: 3fr 1fr; /* chia thành 2 cột, cột đầu tiên độ rộng 3 phần, cột thứ 2 độ rộng 1 phần */
    grid-template-rows: 100px; /* height của 1 dòng là 100px */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 70px;
  }
  /* sắp xếp các thành phần */
  #experience{
    order: 1;
}
#education{
    order: 4;
}
#activity{
    order: 2;
}
#hobby{
    order: 6;
}
#language{
    order: 5;
}
#skill{
    order: 3;
}
  #job-info .container .grid-item .title {
    display: flex;
    align-items: center;
  }
  #job-info .container .grid-item i {
    display: flex;
    align-items: center;
  }
  #job-info .container .grid-item .content {
    grid-column-start: 1;
    grid-column-end: 3;
    /* gộp cột 1 và cột 2 */
    display: none;
  }
  #job-info .container .grid-item i::before {
    font-size: 25px;
    color: #cccccc;
    padding-left: 10px;
  }
  #job-info .container .grid-item .content .title {
    padding-left: 20px;
    padding-top: 10px;
  }
  #job-info .container .grid-item .content ul {
    text-align: justify;
    line-height: 25px;
    padding-left: 15px;
  }
  #job-info .container .grid-item .content ul li {
    margin-bottom: 50px;
  }
  #job-info .container .grid-item .content ul li::marker {
    color: #199cdb;
  }
  #job-info .container .grid-item .content ul li .date {
    display: flex;
  }
  #job-info .container .grid-item .content ul li .list {
    padding-left: 0px;
  }
  #job-info .container .grid-item .content ul li .list li::marker {
    content: "- ";
    color: black;
  }
  #job-info .container .grid-item .content ul li .list li {
    content: "- ";
    color: black;
    position: relative;
    left: 10px;
    padding-right: 10px;
  }
  
  #job-info .container .grid-item .content .icon {
    display: flex;
  }
  #job-info .container .grid-item .content .icon .item .item-icon {
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #job-info .container .grid-item .content .icon .item .item-icon i {
    width: 45px;
    height: 45px;
    border: solid 1px #199cdb;
    border-radius: 100%;
    display: block;
    text-align: center;
    line-height: 45px;
  }
  #job-info .container .grid-item .content .icon .item a {
    text-decoration: none;
    color: black;
    font-size: 12px;
  }
  #job-info .container .grid-item .content .icon .item i::before {
    font-size: 16px;
    color: #199cdb;
    padding: 0;
    text-align: center;
  }
  #job-info .container .grid-item .content .icon .item {
    width: 25%;
    text-align: center;
  }
  /* ẩn thông tin */
  .view-more{
    background-color: burlywood;
    padding: 10px;
    text-align: center;
    width: 150px;
    border-radius: 50px;
    display: none;
    margin-top: 20px;
  }
  .grid-item:hover .view-more{
    display: block;
  }
  /* skill */
  .english .progress {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  /* tạo  gạch xanh mà ở ký năng màu xanh */
  .english .progress .item-progress-enable {
    background: #199cdb;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
  }
  /* tạo  gạch mà ở ký năng màu xám */
  .english .progress .item-progress-disable {
    background: #cccccc;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 45px;
  }
  /* certificate */
  #certificate .container {
    display: block;
    padding: 20px;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
  }
  #certificate .container .section-title {
    margin-bottom: 20px;
  }
  #certificate .content .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #d6c08d;
    margin-top: 20px;
  }
  #certificate .content .item div img{
    width: 95% !important;
  }
  #certificate .content .item div.item-left {
    border-right-color: #d6c08d;
    border-right-width: 1px;
    border-right-style: solid;
  }
  #certificate .content .item div.item-right {
    margin-left: 30px;
  }
  #certificate .content .item div .item-content {
    display: block;
    padding-right: 20px;
    text-align: justify;
  }
  #certificate .content .item div .item-content .title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  #certificate .content .item div .item-content ul {
    margin-left: 8px;
    list-style: none;
  }
  #certificate .content .item div .item-content ul li{
    font-size: 12px;
  }
  /* tạo dấu gạch đầu dòng cho một danh sách */
  #certificate .content .item div .item-content ul li::marker {
    content: "- ";
    color: black;
  }
  /* project */
  #project {
    margin-bottom: 30px;
  }
  #project .container {
    padding: 20px;
    width: 75%;
    margin-left: 12.5%;
  }
  #project .container .section-title {
    margin-top: 20px;
  }
  #project .container .content {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    margin-top: 30px;
    width: 100%;
  }
  #project .container .content .item {
    text-decoration: none;
    color: black;
  }
  #project .container .content .item .title {
    border: #cccccc 1px solid;
    padding: 20px;
    font-size: 12px;
    padding-left: 10px;
  }
  #project .container .content .item .position {
    border: #cccccc 1px solid;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-right: 0px;
  }
  #project .container .content .item .position .job{
    grid-column: 2;
  }
  #project .container .content .item .position div span{
    font-size: 12px;
  }
  #project .container .content .item .position div i{
    font-size: 12px;
  }
  /* Thiết lập các tt cho năm, vị trí, công ty trong phần dự án */
  #project .container .content .item .position div {
    margin: 5px;
    font-size: 7px;
    margin-top: 10px;
  }
  #project .container .content .item .position .year {
    background-color: #199cdb;
    color: white;
    margin-left: 0;
    padding: 5px;
    border-radius: 30px; /* bo tròn viền màu xanh của năm trong dự án*/
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
  }
  /* ngoài tạo grip,... thì còn có thể dùng thẻ table để làm chi tiết bảng chỗ mô tả, nhiệm vụ, cn,... */
  #project .container .content .item table {
    border-collapse: collapse;
    /* tạo bảng dạng không có viển thuộc tính của bảng */
    width: 100%;
    border-color: #cccccc;
  }
  #project .container .content .item table tr td {
    padding: 10px;
    text-align: justify;
  }
  #project .container .content .item table .table-title {
    width: 40%;
    border-right: 0;
  }
  #project .container .content .item table .table-content {
    width: 40%;
    border-left: 0;
  }
  /* footer */
  #footer .container {
    text-align: center;
  }
  #footer .container ul {
    list-style: none;
    display: inline-block;
    text-align: center;
  }
  #footer .container ul li {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
  }
  #footer .container ul li i {
    background-color: #199cdb;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    color: white;
    display: inline-block;
  }
  #footer .container ul sli span {
    line-height: 30px;
    padding-left: 10px;
    display: inline-block;
  }  
}